@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Your Dress</h1>
        <p class="lead">Your Dress is a free web for Admin to Sales help you to create customer,category and item,invoices for each category.</p>
       
    </section>

    <div class="row mt-3">
        <section class="col-md-4" aria-labelledby="Category">
            <h2 id="Category"> Categories</h2>
            <p>
                In this section, you can manage categories for your website:
            </p>
            <ul>
                <li>Create new categories.</li>
                <li>Edit existing categories.</li>
                <li>Delete categories if needed.</li>
                <li>Display all categories in a visually appealing table.</li>
            </ul>
            <p class="mt-3">
                @Html.ActionLink("Get start", "Index", "Customer", new { area = "" }, new { @class = "nav-link btn btn-primary" })
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="Customer">
            <h2 id="Customer">Customers</h2>
            <p>
                In this section, you can manage customers for your website:
            </p>
            <ul>
                <li>Add new customers to your database.</li>
                <li>Edit customer details </li>
                <li>Delete customers if necessary.</li>
                <li>View all customers in a user-friendly table format.</li>
            </ul>
            <p>
                @Html.ActionLink("Get start", "Index", "Customer", new { area = "" }, new { @class = "nav-link btn btn-primary" })

            </p>
        </section>
        <section class="col-md-4" aria-labelledby="Items">
            <h2 id="Items">Managing Items</h2>
            <p>
                This section allows you to manage items on your website:
            </p>
            <ul>
                <li>Add new items to your inventory.</li>
                <li>Edit existing items to update details or adjust pricing.</li>
                <li>Delete items that are no longer needed.</li>
                <li>View all items in a structured list or grid view.</li>
            </ul>
            <p>
                @Html.ActionLink("Get start", "Index", "Item", new { area = "" }, new { @class = "nav-link btn btn-primary" })

            </p>
        </section>
        <section class="col-md-4" aria-labelledby="Invoices">
            <h2 id="Invoices">Invoices</h2>
            <p>
                In this section, you can manage invoices for your website:
            </p>
            <ul>
                <li>Create new invoices for sales transactions.</li>
                <li>Edit existing invoices to update details or add discounts.</li>
                <li>Delete invoices if needed, ensuring accurate records.</li>
                <li>View all invoices in a structured table format.</li>
            </ul>
            <p>
                @Html.ActionLink("Get start", "Index", "Invoice", new { area = "" }, new { @class = "nav-link btn btn-primary" })

            </p>
        </section>
        <section  class="col-md-4" aria-labelledby="Item">
            <h2 id="Item">Items for Invoices</h2>
            <p>This section allows you to manage items related to invoices:</p>
            <ul>
                <li>Create new items for each invoices .</li>
                <li>Edit existing items details within invoices.</li>
                <li>Delete item frm each invoices , if needed , ensuring accurate records.</li>
                <li>View all items included in invoices in a structured table format.</li>
            </ul>
            <p>
                @Html.ActionLink("Get started", "Index", "InvoiceItem", new { area = "" }, new { @class = "nav-link btn btn-primary" })
            </p>
        </section>
    </div>
</main>
@section Scripts {
    <script>
        var timeout;
        document.onmousemove = resetTimer;
        document.onkeypress = resetTimer;

        function startTimer() {
            timeout = setTimeout(function () {
                if (confirm("Do you want to continue?")) {
                    resetTimer();
                } else {
                    window.location.href = '@Url.Action("Logout", "Account")';
                }
            }, 120000); // 2 minutes
        }

        function resetTimer() {
            clearTimeout(timeout);
            startTimer();
        }

        startTimer();
    </script>
}