@model Core.Entities.Customer

@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Customer Details</h2>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Phone</dt>
        <dd>@Model.Phone</dd>
    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-warning" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
    </p>
</div>
